/* GLOBAL CSS */

*{
	box-sizing:border-box; /*sikrer at alle elementer holder bredde/højden angivet under elementet*/
	margin:0;
	padding:0;
}

section{
	
}

#place{
	margin-left: 30%;
}

#wrapper{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	
}

#picwrapper{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 400px;
	float: left;
}


.picbox img{
	max-width: 100%;
}

.picbox{
	max-height: 350px;
	max-width: 350px;
	border: solid 3px #000;
	margin: 20px;
	
}

#textbox{
	height: 740px;
	width: 350px;
	border: solid 3px #000;
	margin: 20px;
	float: left;
	word-wrap: break-word;
	padding: 7px;
	overflow: scroll;
}

