/*GLOBAL SETTINGS*/
*{
  margin:0;
	padding:0;
	box-sizing:border-box;
}

.border{
  border:1px solid green;
}

.width100{
  width:100%;
}

.width90{
  width:90%;
}

.width80{
  width:80%;
}

.width70{
  width:70%;
}

.width60{
  width:60%;
}

.width50{
  width:50%;
}

.width40{
  width:40%;
}

.width30{
  width:30%;
}

.width20{
  width:20%;
}

.width10{
  width:10%;
}

/*FLEXBOX SETTINGS*/
.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*GALLERY1 SETTINGS */
.gal-header-text{
  width:100%;
  font-size: 35px;
  text-align: center;
  margin-top:40px;
  margin-bottom: 40px;
}

/*FILL FOR ITEMS*/
.fill-item{
  border:5px solid white;
}
