/*GLOBAL SETTINGS*/
*{
  margin:0;
	padding:0;
	box-sizing:border-box;
}

.border{
  border:1px solid green;
}

.width100{
  width:100%;
}

.width90{
  width:90%;
}

.width80{
  width:80%;
}

.width70{
  width:70%;
}

.width60{
  width:60%;
}

.width50{
  width:50%;
}

.width40{
  width:40%;
}

.width30{
  width:30%;
}

.width20{
  width:20%;
}

.width10{
  width:10%;
}

/*FLEXBOX SETTINGS*/
.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item{
}

/*NAV SETTINGS*/
.main-logo{
  float:left;
  margin-left: 10px;
  margin-top:10px;
}

.main-nav{
  width:100%;
  height: 60px;
  border-bottom: 1px solid black;
  background-color: #f4f4f4;
}

.main-ul{
  text-align: center;
}

.main-li{
  display:inline-block;
  margin-top:10px;
}

.main-a{
  text-decoration: none;
  color:black;
  padding:10px;
  border:1px solid black;
}

a:hover{
  background-color: black;
  color:white;
}

.main-h1{
  margin-top:20px;
  text-align: center;
}

/*FOOTER SETTINGS*/
.main-footer{
  margin-top:700px;
  width:100%;
  height: 150px;
  border-top:1px solid black;
  background-color: #f4f4f4;
}

.main-footer-container{
  margin-top: 10px;
  width:33%;
  list-style-type: none;
  text-align: center;
}
